.container {
  height: 100vh;
  .login {
    max-width: 400px;
    flex: 1;
    form {
      > div {
        margin-bottom: 20px !important;
      }
      button {
        letter-spacing: 2px;
        font-size: 1.3rem;
      }
    }
  }
}
